<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Web Map Service (WMS)</name>
    <version>
      <name>1.3.0</name>
      <suite>
        <namespace-uri>https://cite.opengeospatial.org/wms-1.3.0/src/ctl</namespace-uri>
        <prefix>wms-1.3.0</prefix>
        <local-name>ets-wms13</local-name>
        <title>WMS 1.3 Conformance Test Suite</title>
        <description>Verifies conformance to ISO 19128:2005.</description>
      </suite>
      <revision>
        <name>${project.version}</name>
        <sources>
          <source>wms/${spec-version}/ctl/main.xml</source>
        </sources>
        <webdir>wms/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
